* {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 10%;
  overflow: hidden;
  background-image: linear-gradient(to right, rgb(78, 139, 231), rgb(145, 231, 46));
}
.board {
  background-color: beige;
  width: 75vw;
  height: 60vh;
  box-sizing: border-box;
  position: inherit;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  border-radius: 50px 0px;
  box-shadow: 15px 25px 1px black ;
}

h1, h2 {
  font-size: 2rem;
}
.btnAndCube {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.result {
  width: 100%;
  height: 7.5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#countMove {
  font-size: 1.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn button {
  background-color: rgb(1, 247, 255);
  width: 30vw;
  height: 8vh;
  border-radius: 13px;
   box-shadow: 5px 5px 15px;
}

.player {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.computer {
  width: 100px;
  height: 100px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
img {
    width: 100px;
    margin: 5px;
}
.cubes {
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.firstCube {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.firstCubeBot {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.secondCube {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.secondCubeBot {
  width: 100px;
  height: 100px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.hearts {
  width: 20px
}

.brokenHearts {
  width: 13px;
  padding-bottom: 3px;
}

#showWinner {
  width: 40vw;
  height: 30vh;
  max-width: 40vh;
  max-height: 30vh;
  align-content: center;
  text-align: center;
  border: none;
  border-radius: 25px 0px;
  box-shadow: 5px -5px 120px;
  background-image: linear-gradient(to right, rgb(78, 139, 231), rgb(145, 231, 46));
  
}

#showWinner > p {
  color: white;
  font-size: 2.5em;
  font-style: italic;
}